<div class="center">
	<h1 class="big animated fadeInDown">
		TumblrGreet
	</h1>
	<%= link_to 'Sign in with Tumblr', '/auth/tumblr', class: 'massive ui vk button', style: 'margin-left: 15px;'%>
</div>
