// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .center {
// 	margin-top: 50%;
// }

.big {
	font-size: 4em;
	text-align: center;
}

.center {
	padding-top: 30%;
	text-align: center;
}
