// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.center {
	padding-top: 30%;
	text-align: center;
}

.big {
	font-size: 5em;
	text-align: center;
}

